/* GLOBAL STYLES **/

.insidewrap {
	width: 960px;
	margin: 0 auto;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.flex-container {
	display: flex;
}

.item {
	padding: 0px 33px;
	margin: 20px 0px;
	border-left: 2px solid #4B4F52;
}

.banner {
	background-color: #49C8C6;
	margin-bottom: 44px;
}

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	color: #393e41;
}

h1 {
	font-size: 55px;
	line-height: 90px;
	color: #ffffff;
}

h2 {
	font-size: 44px;
	padding-bottom: 13px;
	border-bottom: 2px solid #ff3b3f;
}

p {
	font-size: 16px;
	line-height: 20px;
	text-align: left;
	padding: 70px 0px 0px 122px;
}

/* HEADER STYLES **/

#header {
	background-color: #efefef;
	text-transform: uppercase;
}

#header ul {
	display: flex;
	width: 70%;
}

#header li {
	flex: 1;
}

#header a {
	font-size: 14px;
	line-height: 80px;
	text-align: center;
	transition: all .3s;
	color: #393e41; 
	text-decoration: none;
}

#header a:hover {
	color: #49C8C6;
	border-bottom: 2px solid #ff3b3f;
	font-size: 16px;
	transition: all .3s;
}

/* MAP & INFO STYLES **/

#map {
	width: 540px;
	padding-bottom: 42px;
}

#info {
	width: 360px;
	position: relative;
}

#envelope {
	position: absolute;
	top: 127px;
	left: 52px;
}

#placeholder {
	position: absolute;
	top: 223px;
	left: 56px;
}

#phone {
	position: absolute;
	top: 343px;
	left: 54px;
}

/* FORM STYLES **/

form {
	width: 960px;
	background-color: #49c8c6;
	border-radius: 10px;
	margin-top: 35px;
	text-align: left;
	box-shadow: 3px 3px 5px #e5e5e5;
}

label {
	display: block;
	padding: 18px 0px 10px 26px;
}

input {
	border-radius: 10px;
	width: 910px;
	padding: 7px 0px 7px 10px;
	margin-left: 23px;
}

textarea {
	display: block;
	width: 910px;
	height: 120px;
	border-radius: 10px;
	margin-left: 23px;
	padding: 7px 0px 7px 10px;
}

#sendBtn {
	width: 100px;
	padding: 8px 10px;
	background-color: white;
	color: #393e41;
	font-family: 'Poppins', sans-serif;
	margin: 18px 432px;
}

#sendBtn:hover {
	background-color: #8BDCDA;
	color: white;
	cursor: pointer;
}

/* FOOTER1 STYLES **/

#footer1 {
	background-color: #393e41;
	text-align: left;
	margin-top: 60px;
}

#lastitem .item {
	border-right: 2px solid #4B4F52;
}

#footer1 h3 {
	font-size: 15px;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 10px;
}

#footer1 a {
	font-size: 15px;
	line-height: 25px; 
	color: #808080;
	text-decoration: none;
	transition: .2s;
}

#footer1 a:hover {
	color: #acacac;
	transition: .2s;
}

/* FOOTER2 STYLES **/

#footer2 {
	background-color: #131516;
}

#footer2 a {
	color: #808080;
	font-size: 16px;
	line-height: 40px;
	text-decoration: none;
	text-transform: uppercase;
	transition: .2s;	
}

#footer2 a:hover {
	color: #acacac;
	transition: .2s;	
}